@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .fade-in {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
body{
  color: #212121e6;
}

.font-montserrat{
  font-family: "Montserrat', sans-serif";
}

.font-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.swiper {
  transition: height 0.3s ease;
}